@using System.Globalization
@model List<Article>

@{
    ViewBag.Title = "Home";
    Layout = "_Layout";
    
}

<head>
    <title>Home</title>
    <link rel="stylesheet" href="~/css/Home.css" asp-append-version="true"/>
</head>

<div class="table-div">
    <table class="table">
        <thead class="table">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Last Updated</th>
            <th scope="col">Published Date</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var article in @Model)
        {
            <tr>
                <th scope="row">@article.Id</th>
                <td><a class="page-link" asp-action="Article" asp-route-id="@article.Id">@article.Title</a></td>
                <td>@article.UpdatedDate.ToString(CultureInfo.GetCultureInfo("pt-BR"))</td>
                <td>@article.PublishDate.ToString(CultureInfo.GetCultureInfo("pt-BR"))</td>
                @if (User.HasClaim((x => x.Value == "Admin")))
                {
                <td><a asp-action="Edit" asp-route-id="@article.Id" class="link-primary">Edit</a></td>
                <td><a asp-action="Delete" asp-route-id="@article.Id" class="link-primary">Delete</a></td>
                }
            </tr>
        }
        </tbody>
    </table>
</div>

<div class="link-div">
    <a asp-action="Create" class="link">Make a new post</a>
</div>